@font-face {
  font-family: "NotoSansKR-Regular", sans-serif;
  font-weight: normal;
  src: url("/public/fonts/NotoSansKR-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSansKR-Bold", sans-serif;
  font-weight: bold;
  src: url("/public/fonts/NotoSansKR-Bold.ttf") format("truetype");
}
